
w_*/
v_*/
h_*/
vm.vdi
vm.img
vm*.img
WARNING
_index
*.log
devtask*
devtask/
USAGE.*.html
_buried

id_rsa
pubring.kbx
pubring.kbx*
trustdb.gpg

\#*\#
*~
*.bak
*swp
*.kate-swp

nohup.out

*.log
*.ldb

**/*cache*
**/*Cache*
**/*LOG*
**/*Log*
**/*log*

**/.pki
**/.nv

**/.Xauthority
**/.bash_history
**/.bashrc
**/.gitconfig
**/.ssh
**/.ubcore
**/Desktop
**/Documents
**/Downloads
**/Music
**/Pictures
**/Public
**/Templates
**/Videos
**/bin
**/core
**/project
**/projects
**/realHome

**/.java
**/.oracle_jre*
