[submodule "_lib/openocd-static"]
	path = _lib/openocd-static
	url = git@github.com:mirage335/openocd-static.git
[submodule "_lib/ArduinoCore-samd"]
	path = _lib/ArduinoCore-samd
	url = git@github.com:arduino/ArduinoCore-samd.git
[submodule "_lib/atom-dbg"]
	path = _lib/atom-dbg
	url = git@github.com:31i73/atom-dbg.git
[submodule "_lib/atom-dbg-gdb"]
	path = _lib/atom-dbg-gdb
	url = git@github.com:31i73/atom-dbg-gdb.git
[submodule "_lib/ubiquitous_bash"]
	path = _lib/ubiquitous_bash
	url = git@github.com:mirage335/ubiquitous_bash.git
	shallow = true
