"Arduino Firmware":
	debugger: "dbg-gdb"
	gdb_executable: "_gdb"
	gdb_commands: [
	  "target remote :3333"
	  "monitor reset init"
		"monitor halt"
		"load"
		"monitor reset"
		"monitor halt"
	  "stepi"
	  "stepi"
		"stepi"
		"stepi"
	]
	